@model Diet_Project1.Models.college

@{
    ViewBag.Title = "diet-ViewCollegeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/ViewDetails.css" rel="stylesheet" />

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0"></h1>
            </div><!-- /.col -->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div style="display:flex">
    @*<div id="wrapper">*@
    <div id="left">
        <div style="margin-left:100px">
        </div>
        <div id="left_content" align="center">
            <img src="~/assets/img/Uttar-Pradesh-govt.jpg" @*style="border-radius: 100px; width:50%; height: 180px"*@>
            <br />
            <h3 align="center" style="color:black; font-weight:bolder">@Model.college_name</h3>
            <hr />
            <h4 align="center">Contact Information</h4>
            @*@{ var isactive = @Html.Raw(Model.isactive).ToString(); }

                @if (isactive == "1")
                {
                    <span class="badge badge-success" style="margin: 5px;">Active</span>
                }
                else if (isactive == "0")
                {
                    <span class="badge badge-danger" style="margin: 5px;">Deactive</span>
                }*@
            <div align="left">
                <label><i class="fas fa-user bg-green yash"></i>@Model.college_name</label>
                <br />
                <label><i class="fas fa-envelope bg-black yash"></i>@Model.email</label><br />
                <label><i class="fa fa-phone bg-blue FontBig yash" title="Mobile No" aria-hidden="true"></i>@Model.mobile</label><br />
                @*<label><i class="fas fa-book"></i>@Model.qualification</label><br />*@
                <label><i class="fas fa-address-card bg-yellow yash"></i>@Model.address</label><br />
                <label style="margin-left:40px;">@Model.state, @Model.city</label><br />
            </div>
        </div>
    </div>


    <div id="right">
        <h3 align="center">College Details</h3>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">College Name:-</label>
                    <input type="text" value="@Model.college_name" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Principal Name:-</label>
                    <input type="text" value="@Model.principal_name" readonly>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">User Name:-</label>
                    <input type="text" value="@Model.user_name" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmployeeName">Password:-</label>
                    <input type="text" value="@Model.password" readonly>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">State:-</label>
                    <input type="text" value="@Model.state" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">City:-</label>
                    <input type="text" value="@Model.city" readonly>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Mobile:-</label>
                    <input type="text" value="@Model.mobile" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Email:-</label>
                    <input type="text" value="@Model.email" readonly>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="">Address:-</label>
                <input type="text" value="@Model.address" readonly>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Website Url:-</label>
                <input type="text" value="@Model.website_url" readonly>
            </div>
        </div>

        <br />

        <div class="form-row">

        </div>
    </div>

</div>

