
@{
    ViewBag.Title = "Intership_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/styleSheet1.css" rel="stylesheet" />

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Internship Details</h1>
            </div><!-- /.col -->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <table id="tbl" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Batch</th>
                                    <th>Semester</th>
                                    <th>School Catagory</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int serialNumber = 1; // Initialize the serial number counter
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@serialNumber</th>
                                        <td>@item.batch</td>
                                        <td>@item.semester</td>
                                        <td>@item.school_category</td>
                                        <td>@item.start_date</td>
                                        <td>@item.end_date</td>
                                    </tr>
                                    { serialNumber++; }// Increment the serial number after each row
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

